<aside class="aside">
    <ul>
        <li class="item">
            <p>دسته&zwnj;ها</p>
        </li>
        <li class="item">
            <img src="../../assets/Images/car.svg" alt="">
            <span>وسایل نقلیه</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/smartphone.svg" alt="">
            <span>کالای دیجیتال</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/lamp.svg" alt="">
            <span>خانه و آشپزخانه</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/paint.svg" alt="">
            <span>خدمات</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/watch.svg" alt="">
            <span>وسایل شخصی</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/dice.svg" alt="">
            <span>سرگرمی و فراغت</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/social.svg" alt="">
            <span>اجتماعی</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/chair.svg" alt="">
            <span>تجهیزات و صنعتی</span>
        </li>
        <li class="item">
            <img src="../../assets/Images/bag.svg" alt="">
            <span>استخدام و کاریابی</span>
        </li>
        <li class="item">
            <span class="sep"></span>
        </li>
        <li class="item">
            <img src='../../assets/Images/expand_arrow.svg' alt="Categories">
            <span>استخدام و کاریابی</span>
        </li>
        <li class="item">
            <span class="sep"></span>
        </li>
        <li class="item">
            <img src='../../assets/Images/expand_arrow.svg' alt="Categories">
            <span>استخدام و کاریابی</span></li>
        </li>
        <li class="item">
            <span class="sep"></span>
        </li>
        <li class="item">
            <img src='../../assets/Images/expand_arrow.svg' alt="Categories">
            <span>استخدام و کاریابی</span></li>
        </li>
        <li class="item">
            <span class="sep"></span>
        </li>
        <li class="item contact">
            <span>دربارهٔ دیوار</span>
            <span>دریافت برنامه</span>
            <span>بلاگ دیوار</span>
            <span>پشتیبانی</span>
        </li>
        <li class="item contact">
            <img src="../../assets/Images/twitter.svg" alt="">
            <img src="../../assets/Images/linkedin.svg" alt="">
            <img src="../../assets/Images/aparat.svg" alt="">
            <img src="../../assets/Images/instagram.svg" alt="">
        </li>
    </ul>
</aside>