<div class="card text-left">
  <figure>
      <img class="card-img-top" src="../../assets/Images/one.webp" alt="">
  </figure>
  <div class="card__haveComment">
      <img src="../../assets/Images/message.svg">
  </div>
  <div class="card-body">
    <h4 class="card-title">۶۰ متر یکخابه صرافها</h4>
    <span class="card-text caption_style">نو</span>
    <span class="card-price caption_style">۱۲۹۰۰۰۰</span>
    <span class="card-footer caption_style">آزانس املاک در سعادت&zwnj;آباد</span>
  </div>
</div>