@use "variables";
@use "mixins";
  
%button-form {
  border-radius: 5px;
  padding: 0 5px;
  height: 40px;
  cursor: pointer;
}

%container{
  width: 75%;
  max-width: 1800px;
}

%icon{
    margin: 0 0px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
}

%textPlusIcon{
    @extend %button-form;
    transition: 0.1s;
    color: gray;
    font-size: small;
    white-space: nowrap;
    font-weight: 600;
    img{
        @extend %icon;
        }
}
%button-hover {
  margin: 0 5px;
  :hover{
    background-color: variables.$hover-button;
    color: variables.$text-dark;
  }
  span{
    padding: 0 10px;
  }
  a{
    @include mixins.flex($dir: row-reverse);
    @extend %textPlusIcon;
  }
}

%searhbar{
  @include mixins.flex($justify:center);
  @extend %button-form;
  cursor: auto;
  background-color: variables.$hover-button;
  width: 55%;
  max-width: 500px;
  height: 40px;
  input{
      flex-grow: 1; 
      border:none;
      outline: none;
      background: none;
      color: variables.$plaeholder-color;
      font-weight: 500;
  }
  img{
      @extend %icon;
  }
}