@use "extends";
@use "variables";
@use "mixins";

.card {
  @include mixins.flex($dir:row-reverse);
  position: relative;
  height: 168px;
  padding: 16px;
  max-width: 400px;
    border: {
      radius: 5px;
      width: 1px;
      style: solid;
      color: lightgray;
    }

  figure {
    padding: 0;
    margin: 0;
    width: 136px;
    height: 136px;
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
  }

  .card__haveComment{ 
    align-self: flex-end;
    margin: 20px 10px;
    img{
      width: 20px;
      height: 20px;
    }
  }
  .card-body {
    @include mixins.flex($dir: column, $align:initial);
  }
  .card-body h4{
    margin:5px;
  }
  }