@use "extends";
@use "mixins";
@use "variables";

.header{
    @include mixins.flex($justify:center);
    box-shadow: 2px 2px 2px 1px variables.$hover-button;
    .header__container{
        @extend %container;
        @include mixins.flex();
        margin: 0 30px;
        .header__right{
            @include mixins.flex($justify:initial,$grow:1);
            .header__logo a {
                @include mixins.flex();
                @include mixins.outter;
            }

            #dash{
                content: "";
                width: 1px;
                height: 30px;
                background-color: rgb(201, 197, 197);
            }

            .header__categories{
                @extend %button-hover;
                a{
                    margin-left: 10px;
                }
            }
            .header__loc{
                @extend %button-hover;
                a{
                    margin-right: 10px;
                }
            }
            .header__searhbar:focus-within{
                background-color: white;
            }
            .header__searhbar{
                @extend %searhbar;
                padding-left: 100px;
            }
        }
        .header__left{
            @include mixins.flex();
            .header__btnApply{
                @extend %button-hover;
                :hover{
                    color:white !important;
                    background-color: variables.$hover-button1 !important;
                }
                a{
                    background-color: variables.$button1-color;
                    color:white !important;
                }
            }

            .header__chat,.header__divarman,.header__support{
                @extend %button-hover;
            }
            .header__support{
                @extend %button-hover;
                a{
                    margin-left: 10px;
                }
            }
        }
    }
}